<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Choose Your Courses</title>
    <link rel = "stylesheet" href = "../static/style.css">
</head>

<div class = "header">
    TransferTrack: De Anza to UC
</div>

<body>
    <br><br>

    <form class = "form_center">
        <h2>Select Courses:</h2>

        <input type = "button" 
                   onclick = "window.location.href = 'ed_plan.html';" 
                   value = "Create Educational Plan" 
                   class = "button_style">
    </form>

</body>

</html>