<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>BBQ</title>
    <link rel = "stylesheet" href = "../static/style.css">

</head>

<div class = "header">
    TransferTrack: De Anza to UC
</div>

<body>
    <br><br>
    
    <form class = form_center>

        <h1 style = "text-align:center;">
            Compare articulation agreements and create a course schedule!
        </h1>
        
        <ul>
            <div class = container>
                <li>
                    <label for = "school"> Select School: </label> <br>
                    <select id = "school"
                            name = "school">
                        <option> </option>
                        <option>UC Berkeley</option>
                        <option>UC Davis</option>
                        <option>UC Irvine</option>
                        <option>UCLA</option>
                        <option>UC Merced</option>
                        <option>UC Riverside</option>
                        <option>UC San Diego</option>
                        <option>UC Santa Barbara</option>
                        <option>UC Santa Cruz</option>
                    </select>
                    <br>
                </li>

                <li>
                    <label for = "major"> Major: </label> <br>
                    <input list = "major">
                    <datalist id = "major">
                        <option value = "Computer Science">
                        <option value = "Cognitive Science">
                        <option value = "Data Science">
                        <option value = "Engineering">
                        <option value = "Other">
                    </datalist>
                    <br><br>
                </li>
            </div>
        </div>

            <input type = "button" 
                   onclick = "window.location.href = 'choose_course.html';" 
                   value = "Find Courses" 
                   class = "button_style">

        </ul>
    </form>

    <br>

    <a href = "https://www.example.com"> Visit Example </a>

</body>
</html>